<div class="control-section" style="height: 98vh;">
  <ejs-treegrid
    *ngIf="showTree"
    #treegrid
    isResponsive='true'
    [dataSource]='data'
    [treeColumnIndex]='1'
    allowSorting='true'
    [sortSettings]='sortSettings'
    [contextMenuItems]='contextMenuItems'
    [editSettings]='editing'
    [toolbar]="toolbar"
    (contextMenuClick)="contextMenuClick($event)"
    height='100%'
    allowReordering='true'
    allowResizing='true'
    [showColumnChooser]='true'
    allowFiltering='true'
    [filterSettings]='filterSettings'
    childMapping='subtasks'
    allowSelection='true'
    [selectionSettings]='selectionSettings'
    [columns]='columns'
    [enableInfiniteScrolling]='true'
    [pageSettings]='pageSettings'
  >
  </ejs-treegrid>

  <ejs-dialog
    *ngIf="showTree"
    #columnDialog
    [buttons]='columnDialogButtons'
    [visible]='hidden'
    [header]='columnDialogHeader'
    [target]='target'
    width="500"
    height="700"
    [isModal]='true'
  >
    <!-- Prompt Dialog content  -->
    <ng-template #content>
        <form id="formId" [formGroup]="columnForm" #formDir="ngForm" class="form-horizontal" novalidate="">
            <table style="border-collapse: separate;border-spacing: 10px;width:85%;margin: 0px -5px 0px;">
              <tr>
                <td>Column Name:</td>
              </tr>
              <tr>
                <td>
                  <input id="columnName" type="text" formControlName="columnName" />
                </td>
              </tr>
              <tr>
                <td>DataType</td>
              </tr>
              <tr>
                <td>
                  <select id="editType" formControlName="editType">
                    <option value="stringedit">Text</option>
                    <option value="numericedit">Num</option>
                    <option value="datetimepickeredit">Date</option>
                    <option value="booleanedit">Boolean</option>
                    <option value="dropdownedit">DropDownList</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Default-Value:</td>
              </tr>
              <tr>
                <td>
                  <ng-container *ngIf="columnForm.value.editType === 'numericedit';else second">
                    <input id="defaultValue" type="number" formControlName="defaultValue" />
                  </ng-container>
                  <ng-template #second>
                      <ng-container *ngIf="columnForm.value.editType === 'stringedit';else third">
                        <input id="defaultValue" type="text" formControlName="defaultValue" />
                      </ng-container>
                  </ng-template>
                  <ng-template #third>
                    <ng-container *ngIf="columnForm.value.editType === 'datetimepickeredit';else fourth">
                      <ejs-datepicker id="defaultValue" formControlName="defaultValue" name="defaultValue" floatLabelType="Always">
                      </ejs-datepicker>
                    </ng-container>
                  </ng-template>
                  <ng-template #fourth>
                    <ng-container *ngIf="columnForm.value.editType === 'booleanedit';else elseBlock">
                      <input id="defaultValue" formControlName="defaultValue" type="radio" name="defaultValue" [value]="true">True
                      <input id="defaultValue" formControlName="defaultValue" type="radio" name="defaultValue" [value]="false">False
                    </ng-container>
                  </ng-template>
                  <ng-template #elseBlock>
                    <input #defaultValue type="text" />
                  </ng-template>
                </td>
              </tr>
              <tr>
                <td>Minimum-Column-Width:</td>
              </tr>
              <tr>
                <td><input id="minWidth" formControlName="minWidth" type="number" /></td>
              </tr>
              <tr>
                <td>Font-size:</td>
              </tr>
              <tr>
                <td><input id="fontSize" formControlName="fontSize" type="number" /></td>
              </tr>
              <tr>
                <td>Font-color:</td>
              </tr>
              <tr>
                <td>
                  <input
                  [colorPicker]="columnForm.value.fontColor"
                  [value]="columnForm.value.fontColor"
                  (colorPickerChange)="columnForm.get('fontColor')?.setValue($event)"
                  formControlName="fontColor"
                  id="fontColor" />
                </td>
              </tr>
              <tr>
                <td>Background-color:</td>
              </tr>
              <tr>
                <td>
                  <input
                  [colorPicker]="columnForm.value.backgroundColor"
                  [value]="columnForm.value.backgroundColor"
                  (colorPickerChange)="columnForm.get('backgroundColor')?.setValue($event)"
                  formControlName="backgroundColor"
                  id="backgroundColor" />
                </td>
              </tr>
              <tr>
                <td>Alignment:</td>
              </tr>
              <tr>
                <select id="textAlign" formControlName="textAlign">
                  <option value="Right">Right</option>
                  <option value="Left">Left</option>
                  <option value="Center">Center</option>
                  <option value="Justify">Justify</option>
                </select>
              </tr>
              <tr>
                <td>Text-wrap:</td>
              </tr>
              <tr>
                <select id="textWrap" formControlName="textWrap">
                  <option value="normal">Normal</option>
                  <option value="break-all">Break-all</option>
                  <option value="keep-all ">Keep-all </option>
                  <option value="break-word">Break-word</option>
                  <option value="initial">Initial</option>
                  <option value="inherit">Inherit</option>
                </select>
              </tr>
          </table>
        </form>
    </ng-template>
  </ejs-dialog>
</div>
